body {
    background-color: rgb(255, 255, 154);
    font-family: arial;
    margin: 3%;
}

.top-headers {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 50px;
}

table {
    width: 100%;
    border: 1px solid black;
}

.speed-sketches img {
    max-width: 25%;
    max-height: 12%;
    height: auto;
}

.final-sketch img {
    max-width: 25%;
    max-height: 12%;
    height: auto;
}

.tablet-lofi img,
.desktop-lofi img,
.mobile-lofi img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

p,
li {
    line-height: 1.5;
    font-size: 20px;
}

.responsive-pic img {
    max-width: 30%;
    max-height: 15%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.responsive-pic,
.final-sketch,
.speed-sketches {
    display: flex;
    justify-content: center;
    align-content: center;
}

.lofi-wireframes {
    display: flex;
    justify-content: center;
    align-content: center;
}

.mobile-lofi,
.tablet-lofi,
.desktop-lofi {
    margin-left: 20px;
    text-align: center;
}

.hifi-wireframes {
    display: flex;
    justify-content: center;
    align-content: center;
}

.mobile-hifi,
.tablet-hifi,
.desktop-hifi {
    margin-left: 20px;
}

.horizontal-line {
    border: 0;
    height: 1px;
    background-color: #000;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.mobile-hifi {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.mobile-hifi img {
    width: 20%;
    height: auto;
}

.mobile-hifi-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hifi-wireframes {
    display: flex;
    justify-content: flex;
    align-content: flex;
    flex-direction: column;
}

.tablet-hifi {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.tablet-hifi img {
    width: auto;
    height: 60%;
}

.tablet-hifi-images {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}

.desktop-hifi-images {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}

.desktop-hifi img {
    width: auto;
    height: 50%;
}

.desktop-hifi {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.vis-design-guide {
    display: flex;
    justify-content: center;
    align-content: center;
}

.vis-design-guide img {
    width: 50%;
    height: auto;
}

.library-screenshot {
    width: 50%;
    height: auto;
}
